.basic{
    height: 100vh;
    width:100%;
}

.h-100vh{
    height: 100vh;
}
.color-orange{
    color:#F47820;
}
.border-orange{
    border-bottom: 2px solid #F47820!important;
}
.bg-orange{
    background-color: #F47820;
}

.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}

::placeholder{
    color: black;
}

.signin{
    width: 50%;
}

.bg-sandal{
    background-color: #FFE6C7;
}

@media only screen and (max-width: 540px) {
    .signin{
        width: 90%;
    }
}